.content-section {
    width: 1450px;
    height: 394px;
    top: 141px;
    margin:auto;
    opacity: 1;
    gap: 48px;
    font-family: Poppins;
    position: relative;
}

.content-section > div {
    width: 1450px;
    // height: 293px;
    justify-content: space-between;
    opacity: 1;

    .main-heading {
    width: 1450px;
    height: 192px;
    opacity: 1;
    font-size: 52px;
    letter-spacing: 1px;
    text-align: center;
    }

    .main-heading span {
        font-size: 52px;
        letter-spacing: 1px;
    }

    .sub-heading {
        width: 995px;
        height: 66px;
        opacity: 1;

        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        text-align: center;
        color: #C4C4C4;
        margin: auto;
    }
}

.action-buttons {
    width: 388px;
    height: 52px;
    opacity: 1;
    gap: 32px;
    text-align: center;

    .read-docs {
        display: inline-flex;
        width: 162px;
        height: 52px;
        opacity: 1;
        border-radius: 36px;
        border-width: 1px;
        gap: 10px;
        padding-top: 16px;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-left: 24px;

        border: 1px solid;
        background: linear-gradient(90deg, #BA9CFF 0%, #300056 100%);
        position: relative;
    }
    .read-docs::before {
        content: "";
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        background-color: black;
        border-radius: 35px;
    }
}
