<div class="section-content">
    <div class="partner-text">
        Powering tools and integration for companies around the world
    </div>
    <div class="image-wrapper">
        <!-- @for (item of partnerImages; track item) { -->
        <div class="images brave" ></div>
        <div class="images circle" ></div>
        <div class="images discord" ></div>
        <div class="images google" ></div>
        <div class="images jump" ></div>
        <div class="images lollapalooza" ></div>
        <div class="images magic_eden" ></div>
        <!-- } -->
    </div>
</div>