<div class="business-section">
    <div clas="frame">
    <div class="frame1"></div>
    <div class="frame2"></div>

    </div>
    <div class="frame-image">
        <div class="business-text">Your Business Pays Are Now Faster and Secure</div>
        <div class="spiral-line" >
            <div class="image1"></div>
            <!-- <div class="image2"></div>
            <div class="image3"></div> -->
        </div>
       <div class="business-value">
            <div class="speed">
                <div class="text">Merchant onboarding with AI automation</div>
                <div class="sub-section">
                    <div class="content">
                        70% <span>Faster</span>
                    </div>
                </div>
            </div>
            <div class="reliability"></div>
            <div class="money"></div>
       </div>
    </div>
</div>
